<ul class="skills">
  <li class="skill">
    <svg cIcon name="cibHtml5Shield"></svg>
    <span class="space-grotesk-regular">HTML</span>
  </li>
  <li class="skill">
    <svg cIcon name="cibCss3Shiled"></svg>
    <span class="space-grotesk-regular">CSS</span>
  </li>
  <li class="skill">
    <svg cIcon name="cibJavascript"></svg>
    <span class="space-grotesk-regular">JavaScript</span>
  </li>
  <li class="skill">
    <svg cIcon name="cibBootstrap"></svg>
    <span class="space-grotesk-regular">Bootstrap</span>
  </li>
  <li class="skill">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path
        fill="currentColor"
        d="M12 6c-2.67 0-4.33 1.33-5 4c1-1.33 2.17-1.83 3.5-1.5c.76.19 1.31.74 1.91 1.35c.98 1 2.09 2.15 4.59 2.15c2.67 0 4.33-1.33 5-4c-1 1.33-2.17 1.83-3.5 1.5c-.76-.19-1.3-.74-1.91-1.35C15.61 7.15 14.5 6 12 6m-5 6c-2.67 0-4.33 1.33-5 4c1-1.33 2.17-1.83 3.5-1.5c.76.19 1.3.74 1.91 1.35C8.39 16.85 9.5 18 12 18c2.67 0 4.33-1.33 5-4c-1 1.33-2.17 1.83-3.5 1.5c-.76-.19-1.3-.74-1.91-1.35C10.61 13.15 9.5 12 7 12"
      />
    </svg>
    <span class="space-grotesk-regular">Tailwind</span>
  </li>
  <li class="skill">
    <svg cIcon name="cibAngular"></svg>
    <span class="space-grotesk-regular">Angular</span>
  </li>
  <li class="skill">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="1em"
      height="1em"
      viewBox="0 0 128 128"
    >
      <path
        fill="currentColor"
        d="M63.934.656L5.25 21.66l8.863 77.719l49.82 27.77l49.887-27.77l9.059-77.719zm-8.83 30.96l40.738 19.57L72.77 65.27L32.285 45.697zm-9.776 21.497l27.496 13.295l.233-.14l9.658-5.897l13.123 6.305l-23.07 14.017l-40.483-19.57zm.024 15.438l27.472 13.28l.233-.142l9.681-5.882l13.102 6.295l-23.072 14.017l-40.48-19.506z"
      />
    </svg>
    <span class="space-grotesk-regular">Angular Material</span>
  </li>
  <li class="skill">
    <svg cIcon name="cibAngular"></svg>
    <span class="space-grotesk-regular">Angular</span>
  </li>
</ul>
